<app-nav-bar></app-nav-bar>
<!-- <app-movies></app-movies> -->
<router-outlet></router-outlet>
<br />
<div class="footer-basic">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/movies">Movie</a></li>
      <li class="list-inline-item"><a href="/actors">Actors</a></li>
      <li class="list-inline-item"><a href="/producers">Producers</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Movie Listing © 2022</p>
    <p class="autor">By Africa Dennis</p>
  </footer>
</div>
