<nav class="navBar">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-3"> -->
    <ul class="nav">
        <li><a routerLink="/movies">Movies</a></li>
        <li><a routerLink="/actors">Actors</a></li>
        <li><a routerLink="/producers">Producers</a></li>
        <li disabled><a>Add New</a>
            <ul>                
                <li><a routerLink="/formProducer/">Producer</a></li>                
                <li><a routerLink="/formActor/">Actor</a></li>
                <li><a routerLink="/formMovie/">Movie</a></li>
            </ul>
        </li>
    </ul>
<!-- </div> -->
<!-- </div> -->
</nav>