@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~font-awesome/css/font-awesome.css";

body {
  background-image: url("./images/backgroundFinal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
